.sandbox-model-vehicles-filter .price label {
    margin-bottom: 4px;
}

.sandbox-model-vehicles-filter .user .avatar {
    font-size: 1rem;
    width: 75px;
    height: 75px;
}

.sandbox-model-vehicles-filter .user div.avatar {
    padding-top: 25px;
}
.sandbox-model-vehicles-filter .manufacturedAt-gte {
    margin-bottom: 0.5rem!important;
}

.sandbox-model-vehicles-filter .price-gte {
    margin-bottom: 0.5rem!important;
}
