.sandbox-vehicles-findone .blueimp-gallery-carousel {
    margin-top: 0;
}

.sandbox-vehicles-findone .blueimp-gallery > .indicator > li {
    width: 40px;
    height: 40px;
}

.sandbox-vehicles-findone .btn.status,
.sandbox-vehicles-findone .btn.edit,
.sandbox-vehicles-findone .btn.cancel,
.sandbox-vehicles-findone .btn-group {

}
